/* product component styling */

.product__container {
  max-width: 80vw;
  padding: 20px;
  margin: 0 auto;
}

.product__header {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.product__header span {
  color: #ffbf00;
}

.product__body {
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 70vw;
  justify-content: space-between;
}

.product__item {
  width: 250px;
  position: relative;
  margin: 10px;
  border-radius: 10px;
}
.product__item > img {
  border-radius: inherit;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product__item:hover > .product__details {
  display: block;
}
.product__details {
  display: none;
  position: absolute;
  top: 0;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  height: 80%;
  border-radius: inherit;
  padding: 10px;
  transition: all 0.3s;
}
.product__details > h4,
.product__details > p {
  margin-bottom: 10px;
}

@media (max-width: 700px) {
}
@media (max-width: 800px) {
  .product__body {
    justify-content: center;
    max-width: 90%;
  }
  .product__container {
    max-width: 100%;
  }
}
